:root {
    --font-family-main: montserrat, sans-serif;
    --font-size-s: min(100vw, 1000px);

    // Цвета
    --color-primary: #141414;
    --color-secondary: #A1A1A1;
    --purple: #BCC7F8;
    --blue: #9CE7FF;
    --green: #D9ECBB;
    --pink: #FEBFDA;
    --mint: #B7EAD7;
    --beige: #FAE4DB;
    --cold-blue: #0083fd;
    --yellow: #e5ff00;
    --light-green: #72e018;
    --light-purple: #E9C2E8;
    --dark-purple: #A0B0DB;
    --dark-blue: #86D6E8;
    --dark-green: #CADD9B;
    --dark-pink: #E7A8C1;
    --dark-mint: #95E1C5;
    --dark-beige: #EBD1C7;
    --dark-light-purple: #D9BED9;
    --dark-light-green: #72e01893;
    --dark-cold-blue: #0083fd9f;
    --dark-yellow: #e5ff009a;
}