.event {
    border-top: 2px solid #E8E8E8;
    margin-bottom: 2em;
    padding-top: 1em;

    &:first-child {
        padding: 0;
        border-top: 0;
    }

    .header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 1em;
    }

    .main {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 2em;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .eventName {
        font-size: 2em;
        font-weight: 500;
        text-align: center;
        padding: 0.5em 1em;
        border-radius: 5px;
        border-width: 1px;
        border-style: solid;
    }

    .text {
        font-size: 2em;
        font-weight: 500;
        max-width: 200px;
    }

    .code {
        font-size: 2em;
        font-weight: 500;
        opacity: 0.5;
        margin-left: 2em;
    }

    .appointment {
        background-color: var(--purple);
        border-color: var(--dark-purple);
    }

    .observation {
        background-color: var(--blue);
        border-color: var(--dark-blue);
    }

    .condition {
        background-color: var(--green);
        border-color: var(--dark-green);
    }

    .diagnosis {
        background-color: var(--beige);
        border-color: var(--dark-beige);
    }

    .careplan {
        background-color: var(--light-purple);
        border-color: var(--dark-light-purple);
    }

    .immunization {
        background-color: var(--cold-blue);
        border-color: var(--dark-cold-blue);
    }

    .medicationstatement {
        background-color: var(--mint);
        border-color: var(--dark-mint);
    }

    .allergyintolerance {
        background-color: var(--light-green);
        border-color: var(--dark-light-green);
    }

    .procedure {
        background-color: var(--yellow);
        border-color: var(--dark-yellow);
    }
}